# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# vscode
.cache
compile_commands.json

# ycsbdata
*prefill.dat

# ycsbsh
experiment-ycsb-qfs.sh

test/lock_test
database/tpcc/tpcc
database/ycsb/ycsb
test/perf.data
test/result.csv
database/tpcc/perf.data
database/tpcc/perf.data.old
database/test/tpcc_populate_test
database/test/hash_index_test
.vscode/settings.json
scripts/log.lab505-155
scripts/log.lab505-158
scripts/log.lab505-159
scripts/log.lab505-160
scripts/results/basic
src/result.csv
test/benchmark
test/perf.data.old
scripts/log.Lab505-227
test/perf.data.cache
scripts/results/basic_nocache
test/atomic_test
test/ts_test
